<div class= "am">
 <h2>Asset Management</h2>
 <!-- <h3>{{themeDetails?.themeName}}</h3> -->
    <form [formGroup]="assetForm" (submit)="onSubmit()">
    <div class="all">
     <!-- <div class="tn">
     <label for="themeName">Theme Name</label>
    <input type="text" id="themeName" name="themeName">
    </div> -->
    <!-- <p>{{themeDetails?.themeName}}</p>
    <p>{{themeID}}</p> -->
    <div class="tn"> 
      <label for="themeId">Theme Id</label>
      <input type="text" id="themeId" name="themeId" formControlName="themeId" [(ngModel)]="themeDetails.themeId">
      <!-- <span class="error_msg" *ngIf="assetForm.controls['themeId'].touched"></span> -->
       </div>

       <div>
        <label for="assetId">Asset Id</label>
        <input type="text" id="assetId" name="assetId" formControlName="assetId">
       </div>

       <div>
        <br>
  
        <label for="subAssetClass">subAsset Class</label>
      
        <input type="text" id="subAssetClass" name="subAssetClass" formControlName="subAssetClass">
       
       </div>

     <div class="ac"> 
    <label for="assetClass">Asset Class</label>
    <input type="text" id="assetClassText" name="assetClassText" formControlName="assetClass">
    <!-- <span class="error_msg" *ngIf="assetForm.controls['assetClass'].touched"></span> -->
     </div>
    
     <div class="sa">
      <label for="returns">Returns</label>
      <input type="text" id="returns" name="returns" formControlName="returns">
      <!-- <span class="error_msg" *ngIf="assetForm.controls['subAssetClass'].touched"></span> -->
    
     </div>
     <div class="ri">
      <label for="rRisk">Risk</label>
      <input type="text" id="Risk" name="Risk" formControlName="Risk">
      <!-- <span class="error_msg" *ngIf="assetForm.controls['subAssetClass'].touched"></span> -->
    
     </div>

     <div class="ri">
      <label for="InvestmentHorizon">Investment Horizon</label>
      <input type="text" id="InvestmentHorizon" name="InvestmentHorizon" formControlName="InvestmentHorizon">
      <!-- <span class="error_msg" *ngIf="assetForm.controls['subAssetClass'].touched"></span> -->
    
     </div>
    
    
    
    
     <div class="al">
    
      <label for="allocation">Allocation %</label>
    
      <input type="text" id="allocation" name="allocation" formControlName="allocation">
      <span class="error_msg" *ngIf="assetForm.controls['allocation'].touched && assetForm.controls['allocation'].invalid">
        <span *ngIf="assetForm.controls['allocation'].errors['required']" style="color:red">* Enter Value in %</span>
        <span *ngIf="assetForm.controls['allocation'].errors['pattern']">Value is required</span>
      </span>
      <!-- <span class="error_msg" *ngIf="assetForm.controls['allocation'].touched"></span> -->
     </div>
    
    
    
    
     <div class="ad">
    
      <label for="liquidity">Liquidity</label>
    
      <input type="text" id="liquidity" name="liquidity" formControlName="liquidity">
      <!-- <span class="error_msg" *ngIf="assetForm.controls['assetDesc'].touched"></span> -->
    
     </div>
    
    
    
    
     <div class="su"><button type="submit">Save</button></div>
    
    
    
    
    
    
    
     </div>
    
    </form>
    <div class="scroll">
      <table class="table table-bordered" border="5rem">
      <thead class="table-light">
      <th>Theme Name</th>
      <!-- <th>fundamanagerName</th> -->
      <th>Asset Class</th>
      <th>Sub-Asset Class</th>
      <!-- <th>Allocation %</th> -->
      <!-- <th>Asset Description</th> -->
      </thead>
      <tbody>
      <tr *ngFor="let p of asset1">
      <!-- <td>{{p.portfolioName}}</td> -->
      <!-- <td>{{p.fundamanagerName}}</td> -->
      <td >{{p.themeName}}</td>
      <td>{{p.assetClass}}</td>
      <td>{{p.subAssetClass}}</td>
      <!-- <td>{{p.allocation}}</td>
      <td>{{p.assetDesc}}</td> -->
     
      <!-- <td> -->
          <!-- <button class="btn btn-success" routerLink="/theme">View</button>
          <button (click) = "deletePortfolio(p.portfolioName)" class="btn btn-danger" style="margin-left: 10px;">Delete</button> -->
      <!-- </td> -->
      </tr>
      </tbody>
      </table>
      </div>
    
     </div>

     