<div class= "th">

  <h2>Theme</h2>
 
  <form [formGroup]="themeForm" (submit)="onSave()">
 
  <div class="all">
 

 
  <div class="tn">
 
  <label for="themeName">Theme Name</label>
 
  <input type="text" id="themeName" name="themeName" formControlName="themeName"  >
  <span class="error_msg" *ngIf="themeForm.controls['themeName'].touched"></span>
  </div>
 
 
 
 
<!--  
  <div class="ac"> 
  <label for="assetClass">Asset Class </label>
  <select id="inputState" class="input-text" formControlName="assetClass" placeholder="Enter assetClass" [value]="themeForm.value.assetClass" (click)="onClick()"> 
    <option *ngFor="let a of assetClass" value="{{a}}">{{a.assetClass}}</option>
  </select>
  <span class="error_msg" *ngIf="themeForm.controls['assetClass'].touched">
  </span>
  </div> -->
 
 
 
 
  <div class="rk">
 
  <label for="risk"> Risk Level</label>
 
  <input type="text" id="risk" name="risk" formControlName="risk">
  <span class="error_msg" *ngIf="themeForm.controls['risk'].touched"></span>
  </div>
 
 
 
 
 
 
  <div class="in">
 
  <label for="investmentHorizon">Investment Horizon</label>
 
  <input type="text" id="investmentHorizon" name="investmentHorizon" formControlName="investmentHorizon">
  <span class="error_msg" *ngIf="themeForm.controls['investmentHorizon'].touched"></span>
  </div>
 
 
 
 
  <!-- <div class="ad">
 
  <label for="assetDescription">Asset Description</label>
 
  <input type="text" id="assetDescription" name="assetDescription" >
 
  </div> -->
 
 
 
 
  <div class="su"><button type="submit">Save</button></div>
 
  </div>
 
  </form>
 
  </div>