<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/logo7.jpg" alt="" width="60px" height="60px" alt="">
    </a>
    
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>

        </li>
        <li class="nav-item">
          <a class="nav-link  active" routerLink="/portfolio">All Stocks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/isin_no">By ISIN No</a></li>
            <li><a class="dropdown-item" routerLink="/industry">By Industry</a></li>
            <li><a class="dropdown-item" routerLink="/symbol">By Symbol</a></li>
            <li><a class="dropdown-item" routerLink="/sector">By Sector</a></li>
            <li><a class="dropdown-item" routerLink="/security">By Security</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
      
     -->

<html>
<head>
   <title>pfm</title>
  </head>
<body>
  <div class="nav">
     <div class="navbar">
        <img src="../../assets/images/image.jpg" class="logo">
        <a class="name">Portfolio Management System</a>
        <ul>
           <li><a href="#">Home</a></li>
           <li> <a routerLink="/all">All Stocks</a></li>
           <li><a routerLink="/security">Securities</a></li>
           <!-- <li><a routerLink="/theme">Theme</a></li> -->
           <li><a routerLink="/header">Add Portfolio</a></li>
           <!-- <li><a routerLink="/asset">Assets</a></li> -->
          </ul>
       </div>
    </div>
  </body>
</html>